<ion-view title="Connect to Uplift" ng-controller="LoginCtrl" hide-nav-bar="true">
    <ion-content has-header="true" padding="true" class="login center">

        <div class"logo">
        <img ng-src="{{ path }}"/>
        </div>

        <div class="logins">

        <button id="facebook" class="icon-left ion-social-facebook button button-block button-facebook {{hideLogin()}}" ng-click="fblogin()">
            Connect with <b>Facebook</b>
        </button>

        <button class="icon-left ion-social-twitter button button-block button-calm {{hideLogin()}}" ng-click="twlogin()">
            Connect with <b>Twitter</b>
        </button>

         <button id="logout" class="icon-left ion-close-round button button-block button-positive {{hideLogout()}}" ng-click="logout()">
            Disconnect Uplift
        </button>

        </div>
<br>
<br>
        <div class="loginText">
            <p>Or Uplift Anonymously</p>
        </div>

    </ion-content>

</ion-view>