/* Empty. Add your own CSS if you like */

.date {
  float: left;
  font-size: 10px !important;
}

.share {
  float: right;

}

.background {
  background-color: #f8f8f8;
}

.wrap {
 white-space: normal !important;
 text-align: justify;
}

.item-divider {
  min-height: 10px !important;
  margin-bottom: 10px;
  margin-top: -16px !important;
  margin-left: -16px !important;
  margin-right: -16px !important;
}

#facebook {
  background-color: #387ef5 !important;
  border-color: #0c63ee !important;
  color: white !important;
}